.container {
    color: Black;
    width: 100%;
    background:white;
    padding: 1rem;
    
}
.container p{
    font-size: 25pt;
}


.container{
    text-align: center;
}
.ibm_add { 
    position: absolute;
    right: 100px;
    width: 300px;
}

