.welcome {
    color: Black;
    width: 100%;
    background: White;
    padding: 1rem;
}

.welcome ul h1 {
    display: inline;
    font-size: 36pt;
}

.welcome ul a {
    text-decoration: none;
    color: inherit;
    font-size: 24pt;
}

.welcome ul li {
    display: inline;
    padding: 1rem;
}

.container{
    text-align: center;
}
