.loginForm {
    text-align: center;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    box-shadow: lime;
    margin: 3rem;
    width: auto;
}

.loginForm input{
    margin: 1rem .5rem;
    padding: .5rem 2rem;
}